@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: #ffffff;
		--foreground: #171717;
		--like: #b91c1c;
		--repost: #15803d;
		--follow: #1d4ed8;
	}
	
	@media (prefers-color-scheme: dark) {
		:root {
			--background: #0a0a0a;
			--foreground: #ededed;
			--like: #f87171;
			--repost: #4ade80;
			--follow: #60a5fa;
		}
	}
}

* {
	overflow-wrap: break-word;
	margin: 0;
	padding: 0;
	border-radius: 0%;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

main {
	margin: auto;
	max-width: calc(640px + 25px);
	padding: 25px;
}

a, button, input[type="submit"] {
	transition: opacity 0.25s ease-in-out;
}

textarea:focus, input:focus {
	outline: none;
}

@media (hover: hover) {
	a:hover, button:hover, input[type="submit"]:hover {
		opacity: 0.5;
		cursor: pointer;
	}
}